<% content_for :page_title, "Sign in" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in to check a teacher’s record</h1>

    <p class="govuk-body">
      You can search for a teacher’s record using their last name and date of birth.
    </p>
    <p class="govuk-body">
      A teacher’s record includes their qualifications and also tells you if they:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>failed their induction or probation</li>
      <li>are prevented from teaching by a prohibition order</li>
      <li>were sanctioned by the General Teaching Council for England (GTCE)</li>
    </ul>

    <% if DfESignIn.bypass? %>
      <%= form_tag("/check-records/auth/developer/callback") do %>
        <%= hidden_field_tag "email", "test-agency@example.org" %>
        <%= hidden_field_tag "first_name", "Test" %>
        <%= hidden_field_tag "last_name", "Agency" %>
        <%= hidden_field_tag "uid", "test-agency-123" %>
        <%= submit_tag "Sign in (bypass)", class: "govuk-button govuk-!-margin-bottom-2" %>
      <% end %>
    <% else %>
      <%=
        govuk_start_button(
          text: "Sign in",
          href: "/check-records/auth/dfe",
          as_button: true
        )
      %>
    <% end %>

    <h2 class="govuk-heading-m">Qualified teacher learning and skills (QTLS) status</h2>
    <p class="govuk-body">
      This service will not tell you if a teacher has QTLS. You need to check the <a href="https://set.et-foundation.co.uk/your-career/professional-status-register">Society for Education and Training professional register</a>.
    </p>

    <h2 class="govuk-heading-m">School managers and governors</h2>
    <p class="govuk-body">
      There’s a separate <a href="https://www.gov.uk/government/collections/individuals-prohibited-from-managing-or-governing-schools">list of people who are not allowed to manage or govern schools</a>. This is sometimes called the section 128 list.
    </p>
  </div>
</div>
