<% content_for :page_title, "Sign in" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in to check a teacher’s record</h1>

    <p class="govuk-body">
      A teacher's record shows their qualifications. It also shows if:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>they failed their induction or probation</li>
      <li>they’re prevented from teaching by a prohibition order</li>
      <li>they were sanctioned by the General Teaching Council for England (GTCE)</li>
      <li>someone with their last name and date of birth is on the children’s barred list</li>
    </ul>

    <% if CheckRecords::DfESignIn.bypass? %>
      <%= form_tag("/check-records/auth/developer/callback") do %>
        <%= hidden_field_tag "email", "test-agency@example.org" %>
        <%= hidden_field_tag "first_name", "Test" %>
        <%= hidden_field_tag "last_name", "Agency" %>
        <%= hidden_field_tag "uid", "test-agency-123" %>
        <%= submit_tag "Sign in (bypass)", class: "govuk-button govuk-!-margin-bottom-2" %>
      <% end %>
    <% else %>
      <%=
        govuk_start_button(
          text: "Sign in",
          href: "/check-records/auth/dfe",
          as_button: true
        )
      %>
    <% end %>
  </div>
</div>
