<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl"><%= @user.name.possessive %></span>
    <h1 class="govuk-heading-xl">Teaching qualifications</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <% @teacher.qualifications.each do |qualification| %>
          <% if qualification.induction? %>
            <%= render InductionSummaryComponent.new(qualification:) %>
          <% else %>
            <%= render QualificationSummaryComponent.new(qualification:) %>
          <% end %>
        <% end %>
      </div>

      <div class="govuk-grid-column-one-third app__details-menu">
        <h3 class="govuk-heading-m">Your details</h3>
        <p>
          Name on certificates<br /> 
          <strong><%= [@teacher.first_name, @teacher.last_name].join(" ") %></strong>
        </p>

        <p>
          Date of birth<br /> 
          <strong><%= @user.date_of_birth.to_fs(:long_uk) %></strong>  
        </p>

        <p>
          Teacher Reference number (TRN)<br /> 
          <strong><%= @teacher.trn %></strong>
        </p>

        <%= govuk_link_to "View and update details", qualifications_identity_user_path %>
      </div>
    </div>
  </div>
</div>
