<% content_for :page_title, @teacher.name %>
<% content_for :breadcrumbs do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => url_for(:back), @teacher.name => nil}) %>
    </div>
  </div>

  <%= render ActionAtComponent.new(action: "Viewed") %>
<% end %>

<div class="flex-reverse-direction">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
        <%= @teacher.name %>
      </h1>

      <% if @teacher.render_qtls_expired_message? %>
        <%= govuk_warning_text(text: "No longer has QTS via QTLS status because their Society for Education and Training (SET) membership expired") %>
      <% end %>

      <% if @teacher.render_has_qtls_message? %>
        <%= govuk_notification_banner(title_text: "Important") do %>
          <p>Qualified teacher learning and skills (QTLS) status will expire if <%= link_to("Society for Education and Training (SET)", "https://set.et-foundation.co.uk/your-career/qtls") %> membership is not renewed.</p>
        <% end %>
      <% end %>

      <% if @teacher.sanctions.any? && @teacher.sanctions&.first&.description.present? %>
        <%= govuk_inset_text classes: "app-inset-text--red govuk-!-padding-bottom-2 govuk-!-padding-top-3 govuk-!-margin-bottom- govuk-!-margin-top-0" do %>
          <% @teacher.sanctions.each do |sanction| %>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-0">
              <%= sanction.title %>
            </h2>
            <% if sanction.description.present? %>
              <div class="govuk-!-margin-bottom-1">
                <%= GovukMarkdown.render(sanction.description).html_safe %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if @teacher.no_details? %>
        <%= govuk_warning_text(text: "We have no details of this person's qualifications, teacher status or induction status. Please contact them directly for this information.") %>
      <% end %>
      <% if @mqs.present? %>
        <%= render CheckRecords::MqSummaryComponent.new(mqs: @mqs) %>
      <% end %>

      <% if @npqs.present? %>
        <%= render CheckRecords::NpqSummaryComponent.new(npqs: @npqs) %>
      <% end %>

      <% @other_qualifications.each do |qualification| %>
        <%= render CheckRecords::QualificationSummaryComponent.new(qualification:) %>
      <% end %>

      <%= govuk_inset_text classes: "govuk-!-padding-bottom-2 govuk-!-padding-top-3 govuk-!-margin-bottom- govuk-!-margin-top-0 app__no-print" do %>
        <div class="govuk-!-margin-bottom-1">
          You should review the terms and conditions before printing this page. You should dispose of the offline records you maintain once they have served their purpose.
        </div>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-third">
      <% if FeatureFlags::FeatureFlag.active?(:teacher_profile_tags) %>
        <%= render CheckRecords::TeacherProfileSummaryComponent.new(@teacher) %>
      <% end %>

      <h2 class="govuk-heading-m">Personal details</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-list govuk-!-font-size-16">
        <% if @teacher.trn.present? %>
          <li>
            <h4>Teacher Reference number (TRN)</h4>
          </li>
          <li>
            <p><%= @teacher.trn  %></p>
          </li>
        <% end %>

        <% if @teacher.date_of_birth.present? %>
          <li>
            <h4>Date of birth</h4>
          </li>
          <li>
            <p><%= Date.parse(@teacher.date_of_birth).to_fs(:long) %></p>
          </li>
        <% end %>

        <% if @teacher.previous_names.present? %>
            <li>
              <h4>Previous last names</h4>
            </li>
            <% @teacher.previous_names.each do |name| %>
              <li><%= name %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-margin-top-minus-4">
    <div class="govuk-grid-column-full">
      <a href="#" data-print-button class="app__no-print">Print this page</a>
    </div>
  </div>
</div>
