<% content_for :page_title, @teacher.name %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => url_for(:back), @teacher.name => nil}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <%= @teacher.name %>
      <% if @teacher.sanctions.any? %>
        <strong class="govuk-tag govuk-tag--red">
          Restrictions
        </strong>
      <% end %>
    </h1>

    <% if @teacher.sanctions.any? %>
      <h2 class="govuk-heading-m">Restrictions</h2>
      <%= govuk_inset_text classes: "app-inset-text--red govuk-!-padding-bottom-2 govuk-!-padding-top-3 govuk-!-margin-bottom- govuk-!-margin-top-0" do %>
        <% @teacher.sanctions.each do |sanction| %>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-0">
            <%= sanction.title %>
          </h3>
          <p class="govuk-!-margin-bottom-1">
            <%= sanction.start_date.to_fs(:long_uk) if sanction.start_date %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Personal details</h2>
      <%= govuk_summary_list(
        rows: [
          { key: { text: "Teacher reference number (TRN)" }, value: { text: @teacher.trn } },
          { key: { text: "Date of birth" }, value: { text: Date.parse(@teacher.date_of_birth).to_fs(:long_uk) } }
        ])
      %>
    </div>

    <% @other_qualifications.each do |qualification| %>
      <%= render CheckRecords::QualificationSummaryComponent.new(qualification:) %>
    <% end %>

    <% if @mqs.present? %>
      <%= render CheckRecords::MqSummaryComponent.new(mqs: @mqs) %>
    <% end %>

    <% if @npqs.present? %>
      <%= render CheckRecords::NpqSummaryComponent.new(npqs: @npqs) %>
    <% end %>
  </div>
</div>
