<% content_for :page_title, @teacher.name %>
<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => url_for(:back), @teacher.name => nil}) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app__search-detail-heading">
      <h1 class="govuk-heading-l"><%= @teacher.name %></h1>
      <strong class="govuk-tag govuk-tag--<%= @teacher.sanctions.any? ? "red" : "green" %>"%>
        <%= @teacher.sanctions.any? ? "Restrictions" : "No restrictions" %>
      </strong>
    </div>

    <% if @teacher.sanctions.any? %>
      <div class="app__restrictions">
        <h2 class="govuk-heading-m">Restrictions</h2>
        <%= govuk_inset_text classes: "govuk-!-padding-bottom-2 govuk-!-padding-top-3 govuk-!-margin-bottom- govuk-!-margin-top-0" do %>
          <% @teacher.sanctions.each do |sanction| %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-0">
              <%= sanction.title %>
            </h3>
            <p class="govuk-!-margin-bottom-l">
              <%= sanction.start_date.to_fs(:long_uk) if sanction.start_date %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Personal Details</h2>
      <%= govuk_summary_list(
        rows: [
          { key: { text: "Teacher reference number (TRN)" }, value: { text: @teacher.trn } },
          { key: { text: "Date of birth" }, value: { text: Date.parse(@teacher.date_of_birth).to_fs(:long_uk) } }
        ])
      %>
    </div>

    <% @other_qualifications.each do |qualification| %>
      <%= render CheckRecords::QualificationSummaryComponent.new(qualification:) %>
    <% end %>

    <% if @npqs.present? %>
      <%= render CheckRecords::NpqSummaryComponent.new(npqs: @npqs) %>
    <% end %>
  </div>
</div>
