<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in as staff</h1>

    <% if DfESignIn.bypass? %>
      <%= form_tag("/support/auth/developer/callback") do %>
        <%= hidden_field_tag "email", "test-agency@example.org" %>
        <%= hidden_field_tag "first_name", "Test" %>
        <%= hidden_field_tag "last_name", "Agency" %>
        <%= hidden_field_tag "uid", "test-agency-123" %>
        <%= submit_tag "Sign in (bypass)", class: "govuk-button govuk-!-margin-bottom-2" %>
      <% end %>
    <% else %>
      <%=
        govuk_start_button(
          text: "Sign in",
          href: "/support/auth/staff",
          as_button: true
        )
      %>
    <% end %>
  </div>
</div>
