<% content_for :page_title, "Search results (#{@total})" %>
<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => nil }) %>

  <%= render ActionAtComponent.new(action: "Searched") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if @total.zero? %>
      <h1 class="govuk-heading-l">No records found</h1>
      <p class="govuk-body">
        No record found for <%= @search.last_name %> born on <%= @search.date_of_birth.to_s.to_date.to_fs(:long_uk) %>
      </p>
    <% else %>
      <h1 class="govuk-heading-l"><%= pluralize(@total, 'record') %> found</h1>
      <%= render partial: "results", locals: { teachers: @teachers } %>
    <% end %>

    <%= render partial: "search_again_link" %>
  </div>
</div>
