<% content_for :page_title, "Find teacher record" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @organisation_name %>
      <div class="govuk-caption-m govuk-!-margin-bottom-4">
        You're signed in as <%= @organisation_name %>
      </div>
    <% end %>

    <%= form_with model: @search, url: check_records_result_path, method: :get do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Find teacher record</h1>

      <%= f.govuk_text_field :last_name, class: "govuk-input--width-20", label: { class: "govuk-label--s", text: "Last name" }, required: true %>

      <%= f.govuk_date_field(
            :date_of_birth,
            date_of_birth: true,
            legend: { size: 's', text: 'Date of birth' },
            required: true
          )
      %>
      <%= f.govuk_submit "Find record" %>
    <% end %>
  </div>
</div>
