<% content_for :page_title, "Search results (#{@total})" %>
<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => nil }) %>

  <span class="govuk-caption-m">
    Searched at <%= @search.searched_at_to_s %>
  </span>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if @total.zero? %>
      <h1 class="govuk-heading-l">No records found</h1>
      <p class="govuk-body">
        No record found for <%= @search.last_name %> born on <%= @search.date_of_birth.to_s.to_date.strftime("%e %B %Y") %>
      </p>
    <% else %>
      <% if FeatureFlags::FeatureFlag.active?(:trn_search) %>
        <h1 class="govuk-heading-l">1 record found</h1>
        <%= render partial: "single_result", locals: { teacher: @teachers.first } %>
      <% else %>
        <h1 class="govuk-heading-l"><%= "#{@total} #{'record'.pluralize(@total)}" %> found</h1>
        <%= render partial: "multiple_results", locals: { teachers: @teachers } %>
      <% end %>
    <% end %>

    <%= render partial: "search_again_link" %>
  </div>
</div>
