<% content_for :page_title, "Search results" %>
<% content_for :breadcrumbs do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => check_records_search_path, "Search results" => nil }) %>

  <span class="govuk-caption-m">
    Searched at <%= @searched_at %>
  </span>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <% if skipped? %>
      <h1 class="govuk-heading-l"><%= @total %> records found</h1>
      <%= govuk_warning_text(text: "To follow data privacy rules, you must only view the teacher record you need. Read our terms and conditions to find out more.") %>
      <%= render partial: "multiple_results", locals: { teachers: @teachers } %>
    <% else %>
      <h1 class="govuk-heading-l">1 record found</h1>
      <%= render partial: "single_result", locals: { teacher: @teacher } %>

      <p class="govuk-body">
        <%= govuk_link_to("Search again", check_records_search_path) %>
      </p>
    <% end %>
  </div>
</div>
