<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: image_path('govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag image_path('favicon.ico'), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path('favicon.svg'), type: 'image/svg+xml', sizes: "any" %>
    <%= favicon_link_tag image_path('govuk-icon-mask.svg'), rel: 'mask-icon', color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path('govuk-icon-180.png'), rel: 'apple-touch-icon', type: nil %>
    <%= stylesheet_link_tag :qualifications %>
    <%= javascript_include_tag :qualifications, defer: true %>
    <%= yield :head %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= yield :navigation %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        This is a new service – your <%= govuk_link_to("feedback", main_app.qualifications_feedbacks_path) %> will help us to improve it.
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) if content_for?(:back_link_url) %>
      <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if FeatureFlags::FeatureFlag.active?(:downtime_banner) %>
          <%= govuk_notification_banner title_text: "Planned downtime", text: "The service will be unavailable on Monday 7th October between 6pm and 7pm while we carry out essential maintenance" %>
        <% end %>
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= yield :content %>
      </main>
    </div>

    <%= render GovukComponent::FooterComponent.new do |footer| %>
      <% footer.with_meta do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-heading-m">Get help</h2>
          <p class="govuk-!-font-size-16">
            Email: <%= govuk_mail_to t('service.email'), t('service.email'), class: "govuk-footer__link", subject: t('service.name') %>
            <br>
            You’ll get a response within 5 working days.
          </p>

          <h2 class="govuk-visually-hidden">Footer links</h2>

          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Accessibility", "/qualifications/accessibility", class: "govuk-footer__link") %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Cookies", "/qualifications/cookies", class: "govuk-footer__link") %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= govuk_link_to("Privacy notice", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers", class: "govuk-footer__link") %>
            </li>
          </ul>
        </div>

        <div class="govuk-footer__meta-item">
          <%= link_to(footer.copyright_text, footer.copyright_url, class: "#{footer.brand}-footer__link #{footer.brand}-footer__copyright-logo") %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
